[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
llm = "*"
llm-ollama = "*"

[dev-packages]
pytest = "*"
ruff = "*"
mypy = "*"
types-requests = "*"

[requires]
python_version = "3.13"
